
h1{
    background-color: #1E1A13;
    text-align: center;
    color:#FFFFFF;
    font-family: Raleway, sans-serif;
}
footer{
    background-color: #1E1A13;
    text-align: center;
    color:#FFFFFF;
    font-family: Raleway, sans-serif;
}